{% extends 'base.html' %}

  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

{% block title %}  {{pageTitle}} {% endblock%}



{% block body%}

<div class='container  mt-5'>




<!--========================= INSERT Modal-->
<div class="modal fade" id="modalInsert" tabindex="-1" aria-labelledby="modinsertTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modinsertTitle">Ajouter un nouvel étudiant</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!---->
        <form action="{{url_for('register')}}" method="POST" id="insertForm"  class=" ">
          <div class="form-floating ">
            <input type="text" class="form-control" id="matricule" name="mat"  required>
            <label for="matricule">Matricule</label>
          </div>
          <div class="form-floating   ">
            <input type="text" class="form-control" name="nom" id="nom" required>
            <label for="nom">Nom</label>
          </div>
          <div class="form-floating   ">
          <input type="text" class="form-control" name="prenom"  id="prenom" >
          <label for="prenom">Prénom</label>
          </div>
          <div class="form-floating ">
            <input type="date" class="form-control"  id="daten" name="date"  >
            <label for="daten">Date de naissance</label>
          </div>
          <button type="submit" id="" class="btn btn-primary mt-3" >Enregistrer</button>

        </form>
        <!---->
          
      </div>
      
    </div>
  </div>
</div>

<!--====================== END INSERT MODAL ===================-->
  

  <h3 class='text-center f-bold'> Liste des étudiants </h3>
  <div class="btn-group d-block  w-100  px-3">
  
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-placement="top" title="Ajouter un étudiant"  data-bs-target="#modalInsert"><i class="fa fa-plus"></i></button>
  </div>
  <div class="bd-example container mt-2">
    <table class="table table-striped table table-bordered  ">
      <thead>
      <tr>
        <th scope="col">Matricule</th>
        <th scope="col">Nom</th>
        <th scope="col">Postnom</th>
        <th scope="col">Date</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
        
        {% for user in users %}
        <tr id="row-{{user[0]}}" >
          <th scope="row">{{user[0]}}</th>
          <td> {{user[1]}} </td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
          
          <td>
            <div class="btn-group">
              <a href="/delete/{{user[0]}}"  class="btn btn-danger clear">Supprimer</a>
              <a href="/update/{{user[0]}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUpdate{{user[0]}}">Modifier </a>
              <a href="#" class="btn btn-warning dechif-button" data-id="{{user[0]}}">Déchiffrer</a>
             
            </div>
          </td>
        </tr>


        <!--  Modifier     -->
        <div class="modal fade" id="modalUpdate{{user[0]}}" tabindex="-1" aria-labelledby="modalUpdate" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelU">Modifier [{{user[0]}}]</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
        
                  <form action="/update/{{user[0]}}" id="UpdateForm" method="POST"  >
        
                    <div class="form-floating   ">
                      <input value="{{user[1]}}" type="text" class="form-control" name="nom" id="nom" >
                      <label  for="nom">Nom</label>
                    </div>
                    <div class="form-floating   ">
                    <input value="{{user[2]}}" type="text" class="form-control" name="prenom"  id="prenom" >
                    <label  for="prenom">Prénom</label>
                    </div>
                    <div class="form-floating ">
                      <input value="{{user[3]}}" type="date" class="form-control"  id="daten" name="date"  >
                      <label for="daten">Date de naissance</label>
                    </div>

                    <button type="submit" id="upBtn" class="btn btn-primary mt-3" >Enregistrer</button>

                  </form>
              </div>
             
            </div>
          </div>
        </div>
        <!--===============================================-->



        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  document.getElementById('upBtn').addEventListener('click', ()=>{
    console.log("Update Clicked");
    document.getElementById('UpdateForm').submit();
  });

  let suppr = document.querySelectorAll(".clear");

    removeStudent()

    // supprimer ==> function

    function removeStudent(){
        suppr.forEach((btn)=>{
            btn.addEventListener('click', (e)=>{
                
               alert("Voulez-vous vraiment supprimer?")
                console.log("value clicked");
            });
        })
    }

    //========================== dechif
    document.addEventListener('DOMContentLoaded', function() {
      var dechifButtons = document.getElementsByClassName('dechif-button');
      Array.from(dechifButtons).forEach(function(button) {
        button.addEventListener('click', function(event) {
          event.preventDefault();
          var id = button.getAttribute('data-id');
          dechifData(id);
        });
      });
    
      function dechifData(id) {
        fetch('/dechif/' + id)
          .then(function(response) {
            if (!response.ok) {
              console.log(`${error}`)
              throw new Error('Erreur lors de la requête AJAX');
            }
            return response.json();
          })
          .then(function(data) {
            // Mettre à jour le HTML avec les données déchiffrées
            // Remplacez les sélecteurs et les manipulations du DOM par votre propre code
            var row = document.getElementById('row-' + id);
            row.innerHTML = `
              <th scope="row">${data.mat}</th>
              <td> ${data.nom}</td>
              <td>${data.postnom}</td>
              <td>${data.date}</td>
              
             
            `;
          })
          .catch(function(error) {
            console.log('Erreur lors de la requête AJAX :', error);
          });
      }
    });
    

   
  
    
    //document.getElementById('submitButtonInsert').addEventListener('click', function() {
    //  console.log("insert Clicked");
     // document.getElementById('insertForm').submit();
    //});

  
    // Get the form and submit button elements
    var form = document.getElementById('insertForm');
    var submitButton = document.getElementById('submitButtonInsert');

    // Add an event listener to the form for the submit event
    form.addEventListener('submit', function(event) {
    // Check if the form is valid
    if (!form.checkValidity()) {
    // Prevent the default form submission
    event.preventDefault();
    // Display an error message or perform any other action
    alert('Please fill in all required fields.');
    }
    });

</script>




{% endblock%}